<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji1.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji1.png</string>
		<key>desc</key>
		<string>des1</string>
		<key>emotionId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji2.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji2.png</string>
		<key>desc</key>
		<string>des2</string>
		<key>emotionId</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji3.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji3.png</string>
		<key>desc</key>
		<string>des3</string>
		<key>emotionId</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji4.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji4.png</string>
		<key>desc</key>
		<string>des4</string>
		<key>emotionId</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji5.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji5.png</string>
		<key>desc</key>
		<string>des5</string>
		<key>emotionId</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji6.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji6.png</string>
		<key>desc</key>
		<string>des6</string>
		<key>emotionId</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji7.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji7.png</string>
		<key>desc</key>
		<string>des7</string>
		<key>emotionId</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji8.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji8.png</string>
		<key>desc</key>
		<string>des8</string>
		<key>emotionId</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji9.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji9.png</string>
		<key>desc</key>
		<string>des9</string>
		<key>emotionId</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji10.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji10.png</string>
		<key>desc</key>
		<string>des10</string>
		<key>emotionId</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji11.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji11.png</string>
		<key>desc</key>
		<string>des11</string>
		<key>emotionId</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji12.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji12.png</string>
		<key>desc</key>
		<string>des12</string>
		<key>emotionId</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji13.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji13.png</string>
		<key>desc</key>
		<string>des13</string>
		<key>emotionId</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji14.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji14.png</string>
		<key>desc</key>
		<string>des14</string>
		<key>emotionId</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji15.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji15.png</string>
		<key>desc</key>
		<string>des15</string>
		<key>emotionId</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji16.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji16.png</string>
		<key>desc</key>
		<string>des16</string>
		<key>emotionId</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji17.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji17.png</string>
		<key>desc</key>
		<string>des17</string>
		<key>emotionId</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji18.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji18.png</string>
		<key>desc</key>
		<string>des18</string>
		<key>emotionId</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Emoji19.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Emoji19.png</string>
		<key>desc</key>
		<string>des19</string>
		<key>emotionId</key>
		<integer>19</integer>
	</dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji20.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji20.png</string>
        <key>desc</key>
        <string>des20</string>
        <key>emotionId</key>
        <integer>20</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji21.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji21.png</string>
        <key>desc</key>
        <string>des21</string>
        <key>emotionId</key>
        <integer>21</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji22.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji22.png</string>
        <key>desc</key>
        <string>des22</string>
        <key>emotionId</key>
        <integer>22</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji23.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji23.png</string>
        <key>desc</key>
        <string>des23</string>
        <key>emotionId</key>
        <integer>23</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji24.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji24.png</string>
        <key>desc</key>
        <string>des24</string>
        <key>emotionId</key>
        <integer>24</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji25.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji25.png</string>
        <key>desc</key>
        <string>des25</string>
        <key>emotionId</key>
        <integer>25</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji26.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji26.png</string>
        <key>desc</key>
        <string>des26</string>
        <key>emotionId</key>
        <integer>26</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji27.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji27.png</string>
        <key>desc</key>
        <string>des27</string>
        <key>emotionId</key>
        <integer>27</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji28.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji28.png</string>
        <key>desc</key>
        <string>des28</string>
        <key>emotionId</key>
        <integer>28</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji29.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji29.png</string>
        <key>desc</key>
        <string>des29</string>
        <key>emotionId</key>
        <integer>29</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji30.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji30.png</string>
        <key>desc</key>
        <string>des30</string>
        <key>emotionId</key>
        <integer>30</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji31.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji31.png</string>
        <key>desc</key>
        <string>des31</string>
        <key>emotionId</key>
        <integer>31</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji32.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji32.png</string>
        <key>desc</key>
        <string>des32</string>
        <key>emotionId</key>
        <integer>32</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji33.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji33.png</string>
        <key>desc</key>
        <string>des33</string>
        <key>emotionId</key>
        <integer>33</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji34.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji34.png</string>
        <key>desc</key>
        <string>des34</string>
        <key>emotionId</key>
        <integer>34</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji35.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji35.png</string>
        <key>desc</key>
        <string>des35</string>
        <key>emotionId</key>
        <integer>35</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji36.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji36.png</string>
        <key>desc</key>
        <string>des36</string>
        <key>emotionId</key>
        <integer>36</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji37.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji37.png</string>
        <key>desc</key>
        <string>des37</string>
        <key>emotionId</key>
        <integer>37</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji38.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji38.png</string>
        <key>desc</key>
        <string>des38</string>
        <key>emotionId</key>
        <integer>38</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji39.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji39.png</string>
        <key>desc</key>
        <string>des39</string>
        <key>emotionId</key>
        <integer>39</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji40.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji40.png</string>
        <key>desc</key>
        <string>des40</string>
        <key>emotionId</key>
        <integer>40</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji41.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji41.png</string>
        <key>desc</key>
        <string>des41</string>
        <key>emotionId</key>
        <integer>41</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji42.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji42.png</string>
        <key>desc</key>
        <string>des42</string>
        <key>emotionId</key>
        <integer>42</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji43.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji43.png</string>
        <key>desc</key>
        <string>des43</string>
        <key>emotionId</key>
        <integer>43</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji44.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji44.png</string>
        <key>desc</key>
        <string>des44</string>
        <key>emotionId</key>
        <integer>44</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji45.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji45.png</string>
        <key>desc</key>
        <string>des45</string>
        <key>emotionId</key>
        <integer>45</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji46.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji46.png</string>
        <key>desc</key>
        <string>des46</string>
        <key>emotionId</key>
        <integer>46</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji47.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji47.png</string>
        <key>desc</key>
        <string>des47</string>
        <key>emotionId</key>
        <integer>47</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji48.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji48.png</string>
        <key>desc</key>
        <string>des48</string>
        <key>emotionId</key>
        <integer>48</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji49.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji49.png</string>
        <key>desc</key>
        <string>des49</string>
        <key>emotionId</key>
        <integer>49</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji50.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji50.png</string>
        <key>desc</key>
        <string>des50</string>
        <key>emotionId</key>
        <integer>50</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji51.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji51.png</string>
        <key>desc</key>
        <string>des51</string>
        <key>emotionId</key>
        <integer>51</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji52.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji52.png</string>
        <key>desc</key>
        <string>des52</string>
        <key>emotionId</key>
        <integer>52</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji53.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji53.png</string>
        <key>desc</key>
        <string>des53</string>
        <key>emotionId</key>
        <integer>53</integer>
    </dict>
    <dict>
        <key>image</key>
        <string>Resources.bundle/图片/Emoji54.png</string>
        <key>largeImage</key>
        <string>Resources.bundle/图片/Emoji54.png</string>
        <key>desc</key>
        <string>des54</string>
        <key>emotionId</key>
        <integer>54</integer>
    </dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>largeImage</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>emotionId</key>
		<integer>55</integer>
	</dict>
</array>
</plist>
