<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker1.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker1.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker2.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker2.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker3.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker3.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker4.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker4.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker5.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker5.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker6.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker6.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker7.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker7.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker8.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker8.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker9.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker9.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker10.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker10.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker11.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker11.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker12.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker12.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker13.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker13.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker14.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker14.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker15.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker15.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>Resources.bundle/图片/Sticker16.png</string>
		<key>largeImage</key>
		<string>Resources.bundle/图片/Sticker16.png</string>
		<key>desc</key>
		<string>点赞</string>
		<key>emotionId</key>
		<integer>16</integer>
	</dict>
</array>
</plist>
